@font-face {
  font-family: 'Inter';
  src: url('HelveticaNeueCyr-Roman.eot');
  src: local('☺'), url('HelveticaEU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('HelveticaNeueCyr-Medium.eot');
  src: local('☺'), url('HelveticaEU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: local('☺'), url('HelveticaEU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
