@font-face {
  font-family: 'Inter-Bold';
  src: url('Inter-Bold.eot');
  src: local('☺'), url('Inter-Bold.woff') format('woff'), url('Inter-Bold.ttf') format('truetype'),
    url('Inter-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('Inter-Medium.eot');
  src: local('☺'), url('Inter-Medium.woff') format('woff'),
    url('Inter-Medium.ttf') format('truetype'), url('Inter-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
