@import '/src/styles/mixins.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 50px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 300px;
}

.error {
  color: red;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
