@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin content-restrictor {
  max-width: 1584px;
  margin: 0 auto;
  @media (max-width: 1980px) {
    max-width: 80%;
  }
}

@mixin input-text {
  font-family: Inter;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin checkbox-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}


