@import "font-variables";
@import "color-variables";

// брейкпонты (предварительно)
$desktop-s: 1279px;
$tablet: 1023px;
$mobile: 767px;
$mobile-s: 640px;

// остальные несортированные переменные, не относящиеся к шрифтам или цветам


