.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .link-container {
    display: flex;
    align-items: center;
  }
  .link {
    padding: 10px 20px;
    white-space: nowrap;
    cursor: pointer;
  }
  .line {
    height: 1px;
    background-color: #858c92;
    min-width: 20px;
    max-width: 80px;
    flex-grow: 1;
  }
}

.active {
  color: #28ad13;
}

.outlet {
  height: calc(100% - 82px);
  position: relative;
}

.preloader {
  position: absolute;
  right: 20px;
  top: 20px;
}
