.outlet {
  position: relative;
  width: 100%;
  height: calc(100% - 76px);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 27px 20px;
  cursor: pointer;
}

.active {
  color: #28ad13;
}

.line {
  height: 1px;
  background-color: #858c92;
  min-width: 20px;
  max-width: 80px;
  flex-grow: 1;
}
