.outlet {
  position: relative;
  width: 100%;
  height: 100%;
}

.breadcrumbs{
  display: flex;
  align-items: center;
  justify-content: center;
}

.link{
  padding: 27px 20px;
  cursor: pointer;
}

.active {
  color: #28AD13;
}

.line {
  height: 1px;
  background-color: #858C92;
  min-width: 20px;
  max-width: 80px;
  flex-grow: 1;
}