@import '../../styles/variables';

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.content-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.button {
  width: 200px;
}

.page1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1TextContainer {
  max-width: 560px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.step2Img {
  max-width: 500px;
  margin-right: 62px;
}

.page2TextContainer {
  max-width: 500px;
}

.page2Heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
}

.page2Text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.step5Img {
  max-width: 500px;
}

.page5Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
}
