@import '../../styles/variables';

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.header-container {
  flex: 1 50%;
  background-color: black;
  /*   width: 50%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  .text {
    margin-left: 70px;
    max-width: 500px;
  }
  .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 17px;
    color: #a5acb1;
  }
}

.content-container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 50%;
  background-color: white;
}

@media (max-width: $mobile-s) {
  .page-container {
    flex-direction: column;
  }
  .text {
    margin: 20px;
    max-width: 360px;
  }
}

.container {
}
