.preloader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lds-dual-ring {
  margin: 0;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: "";
  margin: 8px;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  text-align: center;
}
