@import '/src/styles/variables.scss';

.button {
  color: $button-white-text;
  background-color: $button-black;
  text-align: center;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  padding: 10px 38px;
  border: none;
  outline: 1px #ffffff solid;
}

.disabled {
  background-color: $button-disabled-gray;
  cursor: auto;
}

.reversed {
  color: $button-black;
  background-color: $button-white-text;
  outline: 1px black solid;
}
