@import '/src/styles/mixins.scss';
@import '../../styles/variables';

.form {
  margin: auto;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 50px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  gap: 5px;
}

.select {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player {
  min-width: 300px;
}

.footer {
  width: 100%;
  padding: 12px;
}
