@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  width: 100%;
  @include input-text;
}

.input {
  width: 100%;
  height: 51px;
  background-color: $input-background-gray;
  border: none;
}

.error {
  height: 18px;
  color: $error-error-red;
}
