@import '/src/styles/mixins.scss';

.recorder {
  width: 560px;
  margin: auto;
  position: relative;
}

.record-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.counter {
  top: 50%;
  left: 50%;
  position: absolute;
  margin: auto;
  color: white;
  font-size: 40px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.webcam {
  width: 100%;
}
