@import "/src/styles/mixins.scss";

.page {
  height: 100%;
  display: flex;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header {
  text-align: center;
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.bottomButtons {
  margin: 20px;
  align-self: flex-end;
  display: flex;
  gap: 20px;
}

.submit {
  width: 132px;
}

.error {
  text-align: center;
  max-width: 300px;
  font-size: 16px;
  color: red;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-grow: 1;
}
