@import '/src/styles/mixins.scss';

.page {
  height: calc(100% - 76px);
  display: flex;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



.buttons {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.button {
/*   width: 300px; */
}